<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wines List</title>
</head>
<body>
    <nav>
        <a href="/newForm">Add New Wine</a> 
    </nav>
    <h1>Favorite Wines</h1>
    <ul>
        
    </ul>
</body>
</html>